<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diego Musso - Login</title>

    <link rel="stylesheet" href="../../assets/css/countable-news.css">
    <link rel="stylesheet" href="../../assets/css/countable-news-desktop.css" media="screen and (min-width: 1000px)">
</head>
<body>
    <nav>
        <img src="../../assets/logos/dm-white.png" alt="logo" class="logo">

        <div class="navbar">

            <ul>
                <li class="about-us">
                    <a href="./">
                        <p>Home</p>
                        <div class="underline"></div>
                    </a>
                </li>
            </ul>

            <ul>
                <li class="about-us">
                    <a href="../news">
                        <p>Noticias</p>
                        <div class="underline"></div>
                    </a>
                </li>
            </ul>

            {{#if user}}
                <a href="../../logout" class="log-in">
                    <p>Salir</p>
                </a>
            {{else}}
                <a href="../../login" class="log-in">
                    <p>Log In</p>
                </a>
            {{/if}}
        </div>
    </nav>

    <div class="singleNew" id={{article.pos}}>
        <div class="wholeBody">
            <div class="body">
                <h2 class="newTitle">
                    {{article.title}}
                </h2>
                <p class="newBody" id="body{{article.pos}}" style="white-space: pre-line">
                    {{article.body}}
                </p>
            </div>
            <div class="newDate">
                <p>
                    <span>{{article.date}}</span>
                </p>
                {{#if user.admin}}
                <a id="openAlert">
                    <figure>
                        <img src="../../assets/icons/bin.png" alt="">
                    </figure>
                </a>
                {{/if}}
            </div>
            <div class="removeAlert" id="deleteAlert">
                <h1>¿Esta seguro que quiere eliminar esta noticia?</h1>
                <div>
                    <a href="/news/delete/{{id}}">Si</a>
                    <a href="" id="closeAlert">No</a>
                </div>
            </div>
        </div>
        <figure class="newImage">
            <img src="../{{article.path}}" alt="">
        </figure>
    </div>

    <script>
        let deleteAlert = document.getElementById('deleteAlert');
        let closeAlert = document.getElementById('closeAlert');
        let openAlert = document.getElementById('openAlert');

        closeAlert.addEventListener('click', e => {

                return deleteAlert.style.display = 'none'

        });

        openAlert.addEventListener('click', e => {

                return deleteAlert.style.display = 'flex'

        });

    </script>

</body>
</html>